<p id="notice"><%= notice %></p>

<p>
  <strong>Artist name:</strong>
  <%= @artist.artist_name %>
</p>

<p>
  <strong>Artist image:</strong>
  <%= @artist.artist_image %>
</p>

<p>
  <strong>Website link:</strong>
  <%= @artist.website_link %>
</p>

<p>
  <strong>Username:</strong>
  <%= @artist.username %>
</p>

<p>
  <strong>password:</strong>
  <%= @artist.password %>
</p>

<p>
  <strong>Performances:</strong>
  <%= @artist.performances %>
</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
